#what{
	width: 100%;
	margin: 25px auto;
	text-align: center;
}

#services {
	width: 30%;
	margin-left: 2.5%;
	float: left;
}

#what ul {
	display: block;
	width: 100%;
	margin: 0 auto;
}

#what ul li {
	font-size: 1.2em;
	padding: 2.5px 0;
}

#gallery {
	width: 67.5%;
	float: right;
	margin-top: 8%;
}